<hr/>
<h1>Your Order</h1>
<div ng-repeat='item in items'>
	<span>{{item.title}}</span>
	<input type="text" ng-model='item.quantity'>
	<span>{{item.price | currency}}</span>
	<span>{{item.price * item.quantity | currency}}</span>
	<button class="btn btn-default" ng-click="remove($index)">Remove</button>
	<button class="btn btn-primary">{{5 | greet}}</button>
</div>

<div>
	Total: {{totalCart() | currency}}
</div>
<div>Discount: {{bill.discount | currency}}</div>
<div>Subtotal: {{subtotal() | currency}}</div>

<form ng-submit="requestFunding()">
	Starting: <input ng-change="computeNeeded()" ng-model="startingEstimate" >
	Recommendation: {{needed}}
	<button class="btn btn-default" ng-click="needed=0; startingEstimate=0">Reset</button>
</form>

